[Unit]
Description=Run photoresistor sensor
After=postgresql.service

[Service]
User=pi
Environment=TIMESCALEDB_CONNECTION=postgres://USERNAME:PASSWORD@HOST:PORT/defaultdb?sslmode=require
ExecStart=/home/pi/photoresistor.py
Restart=always

[Install]
WantedBy=multi-user.target
